* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns:repeat(6, 1fr);


}

.card {
    margin: 0.2em;
}

.card img {
    width: 100%;
}

 .card>.info {
    text-align: center;
    

 }

 


